#leftbar {
    width: 200px;
    height: 500px;
    border: 1px solid black;
}

#topbar {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#graph {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}